/* face page */
#start-btn {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 35px;
    background: rgba(0,0,0,0.5);
}
#menu-btn {
    position: fixed;
    top: 30px;
    left: 0;
    background: rgba(0,0,0,0.5);
    border: none;
    border-right: 2px solid #fff;
    border-radius: 2px;
    width: 40px;
    height: 30px;
}
#menu-btn img {height: 20px;width: 20px;}

.menu-div {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 45vw;
    overflow-y: auto;
    background: rgba(0,0,0,0.5);
    border-right: 2px solid #fff;
    animation: SLIDER 1s;
}
@keyframes SLIDER {
    0%    {left: -100vw;}
    100%  {left: 0;}
}
#cross-menu-btn {
    background: #000;
    border: none;
    margin: 10px;
    padding: 20px 0;
    width: 100%;
    border: 1px solid #fff;
}
.menu-div div {
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}
.menu-div img {
    width: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 5px;
}
.menu-div p {font-size: 5px;margin: 2px;}
.menu-div h4 {font-size: 10px;}

#music-range,
#sound-range {
    width: 90%;
    margin: 10px;
    accent-color: #fff;
    border: 1px solid #fff;
    height: 1px;
}
.menu-div a {
    width: 100%;
    padding: 20px 0;
    background: #8098ff7a;
    font-size: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}
.menu-div button {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border: 1px solid #fff;
    margin: 5px 0;
}
.audio-div p {padding: 0 0 0 20px;}

.reset-div {
    display: none;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    justify-content: space-around;
}
.reset-div button {
    padding: 5px;
    background: transparent;
    border: none;
    width: 50%;
    border: 1px solid #fff;
}
.reset-div p {
    width: 90%;
}